{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 9.1526752,
    "longitude": 7.3410781,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Africa/Lagos",
    "external_url": null,
    "internal_url": null,
    "currency": "NGN",
    "country": "NG",
    "language": "en",
    "radius": 100
  }
}